services:
    db:
        image: postgres:17-alpine
        container_name: postgresdb
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - video-processing-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres -d postgres || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
    minio:
        image: minio/minio:latest
        container_name: minio
        environment:
            - MINIO_ROOT_USER=minioadmin
            - MINIO_ROOT_PASSWORD=minioadmin
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
        volumes:
            - minio_data:/data
        networks:
            - video-processing-network
    redis:
        image: redis:alpine
        container_name: redis
        ports:
            - "6379:6379"
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
        networks:
            - video-processing-network
            
    # app:
    #     build: .  # Tells Compose to build the Dockerfile in the current directory
    #     container_name: app        
    #     ports:
    #         # Maps port 8888 on the host to port 8888 in the container
    #         - "8888:8888"
    #     environment:
    #         - CONFIG_FILE_NAME=config.local
    #     depends_on:
    #         postgres:
    #             condition: service_healthy
    #             required: true
    #         minio:
    #             condition: service_healthy
    #             required: true
    #         redis:
    #             condition: service_healthy
    #             required: true
    #     networks:
    #         - video-processing-network
        

volumes:
    postgres_data:
    minio_data:
networks:
    video-processing-network:
        driver: bridge